<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
	    <form th:action="@{/home/signup}" th:object="${user}" method="post">
			<div class="two-forms">
			                <div class="input-box">
			                    <input type="text" class="input-field" placeholder="Firstname" th:field="*{firstName}">
			                    <i class="bx bx-user"></i>
			                </div>
			                <div class="input-box">
			                    <input type="text" class="input-field" placeholder="Lastname" th:field="*{lastName}">
			                    <i class="bx bx-user"></i>
			                </div>
			            </div>
			            <div class="input-box">
			                <input type="text" class="input-field" placeholder="Email" th:field="*{mail}">
			                <i class="bx bx-envelope"></i>
			            </div>
			            <div class="input-box">
			                <input type="password" class="input-field" placeholder="Password" th:field="*{password}">
			                <i class="bx bx-lock-alt"></i>
			            </div>
			            <div class="input-box">
			                <input type="submit" class="submit" value="Register">
			            </div>
			            
			        </div>
    </form>
	
</body>

</html>